<section class="breadcrumb_section">
    <div class="container">
        <div class="manga-breadcrumb mt-5 mb-4 shadow-lg rounded-3">
            <div class="row px-4 g-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>

                        {{#if isSearch}}
                        <li class="breadcrumb-item active" aria-current="page">Tìm kiếm</li>
                        {{/if}}

                        {{#if genre}}
                        <li class="breadcrumb-item"><a href="{{!-- javascript:void(0) --}}/manga/categories">Thể loại</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{genre}}</li>
                        {{/if}}

                        {{#if chapter}}
                        <li class="breadcrumb-item"><a href="/">Truyện</a></li>
                        <li class="breadcrumb-item"><a href="/manga/{{manga-slug}}">{{manga}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chương {{chapter}}</li>
                        {{else if manga}}
                        <li class="breadcrumb-item"><a href="/">Truyện</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{manga}}</li>
                        {{/if}}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>