
<div class=" manga_sidebar my-5">
    <div class="container manga_sidebar_topviews mb-5 mt-4 shadow-lg my-5 pt-3 pb-1 rounded" id="manga_sidebar_topviews">
        <div class="manga_sidebar_title mb-4">
            <h4 class="section_title">
                top views  
            </h4>
            {{!-- <ul class="manga_sidebar_option" >
                <li class="sidebar_option_item active" id="topView1" onclick="getTopView(1)">Day</li>
                <li class="sidebar_option_item" id="topView2" onclick="getTopView(2)">Week</li>
                <li class="sidebar_option_item" id="topView3" onclick="getTopView(3)">Month</li>
                <li class="sidebar_option_item" id="topView4" onclick="getTopView(4)">Years</li>
            </ul> --}}
        </div>
        {{#each topViews}}
            <div class="manga_topviews_item shadow my-4" style="position: relative;" >
                <div class="manga_topviews_item_cover bg-cover rounded shadow" style="background-image: url({{this.cover}});" ></div>    
                <div class="manga_topviews_item_text">
                    <div class="text ep">{{this.finished}} / {{this.total}}</div>
                    <div class="text view">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {{addCommas this.views}}
                    </div>
                    <h5 class="name">
                        {{this.title}}
                    </h5>
                    <div class="description_container rounded"> 
                        <p class="description">
                            {{this.description}}
                        </p>
                    </div>
                    <a href="/manga/{{this.slug}}" class="link"></a>
                </div>       
            </div>
        {{/each}}
    </div>

    {{#if newComment}}
    <div class="container manga_sidebar_newcomment mb-5 mt-4 shadow-lg my-5 pt-3 pb-1 rounded">
        <div class="manga_sidebar_title mb-4">
            <h4 class="section_title">
                new comment 
            </h4>
        </div>
        {{#each newComment}}
            <div class="manga_newcomment_item my-4 shadow">
                <a class="manga_newcomment_item_cover bg-cover"  style="background-image: url({{this.cover}});" href="/manga/{{this.slug}}">
                </a>
                <div class="manga_newcomment_item_text">
                    <a href="/manga/{{this.slug}}">
                        <h5 class="name">
                            <b>
                                {{this.title}}
                            </b>
                        </h5>
                    </a>
                   
                    <p class="views">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {{addCommas this.views}} views
                    </p>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<script type="text/javascript" src="/js/sidebar.js"></script>