<div class="category_mangage_page d-flex flex-column flex-sm-column  flex-md-row align-items-stretch" >
    {{> admin-sidebar curentPage}}       
    <div class="main_content container-fluid">
        <div class="body_content table-responsive overflow-auto">
            <div class="content_header mb-3">
                <h3 class="text-center">Danh sách thể loại</h3>
            </div>
            <table class="categories_table table table-hover ">
                <thead class="categories_table_head ">
                    <tr >
                        <th class="text-center w-20">Tên thể loại</th>
                        <th class="text-center w-20">Mô tả</th>
                        <th class="text-center">Màu nền/Màu chữ</th>
                        <th class="text-center w-10">Chỉnh sửa</th>
                    </tr>
                </thead>
                <tbody class="categories_table_body" id="categories_table_body">
                    {{#each this.categories}}
                        <tr id="category_row_{{this._id}}" categoryId = "{{this._id}}">
                            <form 
                                action="/admin/category/{{this._id}}"
                                method="put"
                                onsubmit="saveEditCategory(event)"
                                enctype="text/plain"
                            >
                                <td class="px-5">
                                    <input 
                                        type="text" 
                                        value="{{this.name}}" 
                                        defaultValue = "{{this.name}}" 
                                        name="name" 
                                        id="category_name_{{this._id}}" 
                                        class="category_input_field form-control input_name"
                                        placeholder="Tên thể loại"
                                        style="background-color: {{this.color}}; color:{{this.text_color}}"
                                        required
                                        disabled
                                    >  
                                </td>
                                <td class="px-5">
                                    <input 
                                        type="text" 
                                        value="{{this.description}}" 
                                        defaultValue = "{{this.description}}" 
                                        name="description" 
                                        id="category_des_{{this._id}}" 
                                        class="category_input_field form-control input_category"
                                        placeholder="Mô tả"
                                        required
                                        disabled
                                    >         
                                </td>
                                <td class="px-5">
                                    <div class="d-flex flex-row justify-content-around">
                                        <div class="input_preview_color" style="background-color: {{this.color}};">
                                            <input 
                                                type="color"
                                                value="{{this.color}}"
                                                name="color"
                                                id="category_color_{{this._id}}" 
                                                class="category_input_field input_color"
                                                onchange="changePreview(event)"
                                                required
                                                disabled
                                            >
                                        </div>  
                                        <div class="input_preview_color" style="background-color: {{this.text_color}};">
                                            <input 
                                                type="color"
                                                value="{{this.text_color}}"
                                                name="text_color"
                                                id="category_text_color_{{this._id}}" 
                                                class="category_input_field input_color"
                                                onchange="changePreview(event)"
                                                required
                                                disabled
                                            >
                                        </div>
                                    </div>           
                                </td>
                                <td class="text-center align-middle edit">
                                    <button 
                                        type="button"
                                        class="icon_button edit_button" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                                        onclick="editRow('{{this._id}}')"
                                    >
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button  
                                        type="button"
                                        class="icon_button delete_button"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
                                        onclick="deleteCategory('{{this._id}}')"
                                    >
                                        <i class="far fa-trash-alt"></i>
                                    </button>

                                    <button 
                                        type="button"
                                        class="icon_button cancel_button d-none" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                                        onclick="cancelEditRow('{{this._id}}')"
                                    >
                                        <i class="fas fa-times"></i>
                                    </button>

                                    <button  
                                        type="submit"
                                        class="icon_button save_button d-none"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
                                    >
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </form>
                        </tr>
                    {{/each}}
                    <tr id="row_insert_category">
                        <form 
                            action="/admin/category"
                            method="post"
                            onsubmit="insertCategory(event)"
                        >
                            <td class="px-5">
                                <input 
                                    type="text" 
                                    value="" 
                                    name="name" 
                                    id="category_name_new" 
                                    class="category_input_field form-control input_name"
                                    placeholder="Tên thể loại"
                                    required
                                >  
                            </td>
                            <td class="px-5">
                                <input 
                                    type="text"  
                                    name="description" 
                                    id="category_des_new" 
                                    class="category_input_field form-control"
                                    placeholder="Mô tả"
                                    required
                                >         
                            </td>

                            <td class="px-5">
                                <div class="d-flex flex-row justify-content-around">
                                    <div class="input_preview_color" style="background-color: #ffffff;">
                                        <input 
                                            type="color"
                                            value="#ffffff"
                                            name="color"
                                            id="category_color_new" 
                                            class="category_input_field input_color"
                                            onchange="changePreview(event)"
                                            required
                                        >
                                    </div>  
                                    <div class="input_preview_color" style="background-color: #000000;">
                                        <input 
                                            type="color"
                                            value="#000000"
                                            name="text_color"
                                            id="category_text_color_new" 
                                            class="category_input_field input_color"
                                            onchange="changePreview(event)"
                                            required                                   
                                        >
                                    </div>
                                </div>           
                            </td>
                            <th class="text-center align-middle edit">
                                <button  
                                    class="icon_button"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm thể loại truyện"
                                    type="submit"
                                >
                                    <i class="fas fa-plus"></i>
                                </button>
                            </th>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<table id="template_row_container"  class="d-none">
<tr id="template_row" >
    <form 
        action=""
        method="put"
        onsubmit="saveEditCategory(event)"
        enctype="text/plain"
    >
        <td class="px-5">
            <input 
                type="text" 
                value="{{this.name}}" 
                defaultValue = "{{this.name}}" 
                name="name" 
                id="category_name_{{this._id}}" 
                class="category_input_field form-control input_name"
                placeholder="Tên thể loại"
                required
                disabled
            >  
        </td>
        <td class="px-5">
            <input 
                type="text" 
                value="{{this.description}}" 
                defaultValue = "{{this.description}}" 
                name="description" 
                id="category_des_{{this._id}}" 
                class="category_input_field form-control input_category"
                placeholder="Mô tả"
                required
                disabled
            >         
        </td>
        <td class="px-5">
            <div class="d-flex flex-row justify-content-around">
                <div class="input_preview_color background_color" style="background-color: #ffffff;">
                    <input 
                        type="color"
                        value="#ffffff"
                        name="color"
                        id="category_color_new" 
                        class="category_input_field input_color"
                        onchange="changePreview(event)"
                        required
                    >
                </div>  
                <div class="input_preview_color text_color" style="background-color: #000000;">
                    <input 
                        type="color"
                        value="#000000"
                        name="text_color"
                        id="category_text_color_new" 
                        class="category_input_field input_color"
                        onchange="changePreview(event)"
                        required                                   
                    >
                </div>
            </div>           
        </td>
        <td class="text-center align-middle edit">
            <button 
                type="button"
                class="icon_button edit_button" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                onclick="editRow('{{this._id}}')"
            >
                <i class="fas fa-edit"></i>
            </button>
            <button  
                type="button"
                class="icon_button delete_button"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
                onclick="deleteCategory('{{this._id}}')"
            >
                <i class="far fa-trash-alt"></i>
            </button>

            <button 
                type="button"
                class="icon_button cancel_button d-none" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                onclick="cancelEditRow('{{this._id}}')"
            >
                <i class="fas fa-times"></i>
            </button>

            <button  
                type="submit"
                class="icon_button save_button d-none"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
            >
                <i class="fas fa-check"></i>
            </button>
        </td>
        
    </form>
</tr>
</table>


<script src="/js/category-manage.js"></script>

