<div class="wrap_conainer container-fluid category_mangage_page" >
    {{> admin-sidebar curentPage}}       
    <div class="main_content container-fluid">
        <div class="header_content row">
            <div class="col-6 breadcrumb">
                    <div class="breadcrumb_icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="breadcrumb_title">
                        <div class="big_title">
                            Thể loại
                        </div>
                        <div class="small_title">
                            Quản lý thông tin thể loại truyện
                        </div>
                    </div>
                </div>
                <div class="col-6 export">
                    <button class="export_button">
                        <i class="fas fa-download"></i>
                    </button>
                   
                </div>
        </div>
        <div class="body_content row table-responsive overflow-auto">
            <div class="content_header">
                <h4 class="content_header_title">Danh sách thể loại</h4>
            </div>
            <table class="categories_table table table-hover ">
                <thead class="categories_table_head ">
                    <tr >
                        <th class="text-center w-20">Tên thể loại</th>
                        <th class="text-center w-20">Mô tả</th>
                        <th class="text-center w-10">Chỉnh sửa</th>
                    </tr>
                </thead>
                <tbody class="categories_table_body" id="categories_table_body">
                    {{#each this.categories}}
                        <tr id="category_row_{{this._id}}" categoryId = "{{this._id}}">
                            <form 
                                action="/admin/category/{{this._id}}"
                                method="put"
                                onsubmit="saveEditCategory(event)"
                                enctype="text/plain"
                            >
                                <td class="px-5">
                                    <input 
                                        type="text" 
                                        value="{{this.name}}" 
                                        defaultValue = "{{this.name}}" 
                                        name="name" 
                                        id="category_name_{{this._id}}" 
                                        class="category_input_field form-control input_name"
                                        placeholder="Tên thể loại"
                                        required
                                        disabled
                                    >  
                                </td>
                                <td class="px-5">
                                    <input 
                                        type="text" 
                                        value="{{this.description}}" 
                                        defaultValue = "{{this.description}}" 
                                        name="description" 
                                        id="category_des_{{this._id}}" 
                                        class="category_input_field form-control input_category"
                                        placeholder="Mô tả"
                                        required
                                        disabled
                                    >         
                                </td>
                                <td class="text-center align-middle edit">
                                    <button 
                                        type="button"
                                        class="icon_button edit_button" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                                        onclick="editRow('{{this._id}}')"
                                    >
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button  
                                        type="button"
                                        class="icon_button delete_button"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
                                        onclick="deleteCategory('{{this._id}}')"
                                    >
                                        <i class="far fa-trash-alt"></i>
                                    </button>

                                    <button 
                                        type="button"
                                        class="icon_button cancel_button d-none" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                                        onclick="cancelEditRow('{{this._id}}')"
                                    >
                                        <i class="fas fa-times"></i>
                                    </button>

                                    <button  
                                        type="submit"
                                        class="icon_button save_button d-none"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
                                    >
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </form>
                        </tr>
                    {{/each}}
                    <tr id="row_insert_category">
                        <form 
                            action="/admin/category"
                            method="post"
                            onsubmit="insertCategory(event)"
                        >
                            <td class="px-5">
                                <input 
                                    type="text" 
                                    value="" 
                                    name="name" 
                                    id="category_name_new" 
                                    class="category_input_field form-control"
                                    placeholder="Tên thể loại"
                                    required
                                >  
                            </td>
                            <td class="px-5">
                                <input 
                                    type="text"  
                                    name="description" 
                                    id="category_des_new" 
                                    class="category_input_field form-control"
                                    placeholder="Mô tả"
                                    required
                                >         
                            </td>
                            <th class="text-center align-middle edit">
                                <button  
                                    class="icon_button"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm thể loại truyện"
                                    type="submit"
                                >
                                    <i class="fas fa-plus"></i>
                                </button>
                            </th>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<table id="template_row_container"  class="d-none">
<tr id="template_row" >
    <form 
        action=""
        method="put"
        onsubmit="saveEditCategory(event)"
        enctype="text/plain"
    >
        <td class="px-5">
            <input 
                type="text" 
                value="{{this.name}}" 
                defaultValue = "{{this.name}}" 
                name="name" 
                id="category_name_{{this._id}}" 
                class="category_input_field form-control input_name"
                placeholder="Tên thể loại"
                required
                disabled
            >  
        </td>
        <td class="px-5">
            <input 
                type="text" 
                value="{{this.description}}" 
                defaultValue = "{{this.description}}" 
                name="description" 
                id="category_des_{{this._id}}" 
                class="category_input_field form-control input_category"
                placeholder="Mô tả"
                required
                disabled
            >         
        </td>
        <td class="text-center align-middle edit">
            <button 
                type="button"
                class="icon_button edit_button" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                onclick="editRow('{{this._id}}')"
            >
                <i class="fas fa-edit"></i>
            </button>
            <button  
                type="button"
                class="icon_button delete_button"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
                onclick="deleteCategory('{{this._id}}')"
            >
                <i class="far fa-trash-alt"></i>
            </button>

            <button 
                type="button"
                class="icon_button cancel_button d-none" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa thể loại"
                onclick="cancelEditRow('{{this._id}}')"
            >
                <i class="fas fa-times"></i>
            </button>

            <button  
                type="submit"
                class="icon_button save_button d-none"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá thể loại"
            >
                <i class="fas fa-check"></i>
            </button>
        </td>
    </form>
</tr>
</table>


<script src="/js/category-manage.js"></script>

