

<section class="breadcrumb_section">
    <div class="container">
        <nav class="nav_breadcrumb"  aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" ><a href="/manga/categories">categories</a></li>
                <li class="breadcrumb-item active" >
                    <a href="/">
                        {{categories.[0].[name]}}
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section class="manga_pannel">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 mt-4">
                {{> manga-panel categories=categories}}
                <ol class="pagination">
                </ol>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                    {{> sidebar topViews = topViews newComment = newComment}}
            </div>
        </div>
    </div>   
    
</section>
<script src="/js/pagination.js"></script>
{{#if currentPage }}
    <script>
        pagination({{currentPage}}, {{pages}});
    </script>    
{{else}}
    <script>
        pagination(1, {{pages}});
    </script> 
{{/if}}