<section class="user_storage my-4">
    <div class="container">
        <header>
            <a href="/user/{{userId}}/storage?tab=collection">
                <h2><i class="fas fa-chevron-left"></i>Kho lưu trữ của tôi</h2>
            </a>
            <div class="collection shadow rounded-3 p-4 mt-4 d-inline-flex">
                <h3>{{collection.title}}</h3>
                <button class="edit btn"><i class="fas fa-edit"></i></button>
            </div>
        </header>
        {{#if collection}}
        <div class="profile-library shadow rounded-3 p-4 my-4">
            <div class="row gap-3">
                {{#each collection.mangaCollect}}
                <div class="reading-list">
                    <div class="d-flex">
                        <div class="cover pe-4">
                            <a href="javascript:void(0)"><img src="{{manga.cover}}" class="rounded-2"></a>
                        </div>
                        <div class="info flex-grow-1">
                            <header class="collect-title d-flex">
                                <div class='w-100'>
                                    <div class="d-flex">
                                        <a href="javascript:void(0)">
                                            <h5><b>{{manga.title}}</b></h5>
                                        </a>
                                    </div>
                                    <div class="d-flex flex-row mt-2 d-grid gap-4">
                                        <div><i class="fas fa-eye"></i> {{addCommas manga.views}}</div>
                                        <div><i class="fas fa-bookmark"></i> {{addCommas manga.follower}}</div>
                                        <div><i class="fas fa-list-ul"></i> {{manga.finished}}</div>
                                    </div>
                                </div>
                                <div class="flex-shrink-1 fuction">
                                    <button class="del btn"><i class="fas fa-trash"></i></button>
                                </div>
                            </header>
                            <span>{{manga.description}}</span>
                        </div>
                    </div>
                    <hr>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        Nothing
        {{/if}}
    </div>
</section>