<section class="user_storage my-4">
    <div class="container">
        <header>
            <a href="/user/{{userId}}/storage?tab=collection">
                <h2><i class="fas fa-chevron-left"></i>Kho lưu trữ của tôi</h2>
            </a>
            <div class="collection shadow rounded-3 px-4 py-3 mt-4 d-inline-flex">
                <div id="title_show" class="d-inline-flex">
                    <h3><i class="fas fa-bookmark"></i><span>{{collection.title}}</span></h3>
                    <button class="edit btn" id="edit_collection"><i class="fas fa-edit"></i></button>
                </div>
                <form id="title_edit" onsubmit="editNameCollection(event,{{userId}},{{collection}})"
                    enctype="text/plain">
                    <h3><i class="fas fa-bookmark"></i></h3>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="_title" value="{{collection.title}}"
                            defaultValue="{{collection.title}}">
                    </div>
                    <div class="col-auto">
                        <button class="edit btn edit_done" type="submit" id="save_collections"
                            onclick="editNameCollection(event,'{{userId}}','{{collection._id}}')">Lưu</button>
                        <button class="del btn edit_done" type="button" id="del_collections"
                            onclick="deleteCollection_redirect('{{userId}}','{{collection._id}}','/user/{{userId}}/storage?tab=collection')">
                            Xoá danh sách</button>
                    </div>
                </form>
            </div>
        </header>
        <div class="profile-library shadow rounded-3 p-4 my-4">
            <div class="row gap-3">
                {{#if collection.mangaCollect}}
                {{#each collection.mangaCollect}}
                <div class="reading-list">
                    <div class="d-flex">
                        <div class="cover pe-4">
                            <a href="javascript:void(0)"><img src="{{manga.cover}}" class="rounded-2"></a>
                        </div>
                        <div class="info flex-grow-1">
                            <header class="collect-title d-flex">
                                <div class='w-100'>
                                    <div class="d-flex">
                                        <a href="javascript:void(0)">
                                            <h5><b>{{manga.title}}</b></h5>
                                        </a>
                                    </div>
                                    <div class="d-flex flex-row mt-2 d-grid gap-4">
                                        <div><i class="fas fa-eye"></i> {{addCommas manga.views}}</div>
                                        <div><i class="fas fa-bookmark"></i> {{addCommas manga.follower}}</div>
                                        <div><i class="fas fa-list-ul"></i> {{manga.finished}}</div>
                                    </div>
                                </div>
                                <div class="flex-shrink-1 fuction">
                                    <button class="del btn"
                                        onclick="editCollectionItem('{{../userId}}','{{../collection._id}}','{{manga._id}}')">
                                        <i class="fas fa-trash"></i></button>
                                </div>
                            </header>
                            <span>{{manga.description}}</span>
                        </div>
                    </div>
                    <hr>
                </div>
                {{/each}}
                {{else}}
                <b class="text-center"><em>Danh sách trống</em></b>
                {{/if}}
            </div>
        </div>
    </div>
</section>