<!--Breadcrumb section-->
{{> breadcrumb }}

<!--Manga section-->
<section class="manga_details">
  <div class="container">
    <div class="manga_details_content my-5 shadow-lg rounded-3">
      <div class="row p-4 g-3">
        <div class="col-lg-4 col-xl-3 pe-3">
          <div class="anime_details_pic">
            <img src={{manga.cover}} class="img-fluid rounded-3" />
          </div>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="row mb-3">
            <div class="col-lg-12 col-xl-9 manga_details_title text-wrap">
              <h3 class="mb-2"><b>{{manga.title}}</b></h3>
              <span>{{manga.title_org}}</span>
            </div>
            <div class="col-lg-12 col-xl-3 manga_details_rating">
              <div class="rating list-inline my-2">
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star-half-alt"></i></a>
                <a href="#"><i class="far fa-star"></i></a>
              </div>
              <span>{{manga.totalRate}} lượt đánh giá</span>
            </div>
          </div>
          <div class="categories mb-3">
            <ul class="list-inline">
              {{#each manga.categories}}
              <li class="list-inline-item"><a href="#" role="button"
                class="btn badge rounded-pill" style="background-color:{{color}};">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class="manga_details_description mb-2">
            <p>{{manga.description}}</p>
          </div>
          <div class="manga_details_widget">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <dl class="row">
                  <dt class="col-sm-5">Tác giả:</dt>
                  <dd class="col-sm-7">{{manga.author}}</dd>

                  <dt class="col-sm-5">Ngày phát hành:</dt>
                  <dd class="col-sm-7">{{moment manga.releaseDay format="DD-MM-YYYY"}}</dd>

                  <dt class="col-sm-5">Tình trạng:</dt>
                  <dd class="col-sm-7">{{manga.status}}</dd>

                  <dt class="col-sm-5">Dịch giả:</dt>
                  <dd class="col-sm-7">{{manga.translator}}</dd>
                </dl>
              </div>
              <div class="col-lg-6 col-md-6">
                <dl class="row">
                  <dt class="col-sm-5">Số chương:</dt>
                  <dd class="col-sm-7">{{manga.total}}/{{manga.finished}}</dd>

                  <dt class="col-sm-5">Cập nhật:</dt>
                  <dd class="col-sm-7">{{moment manga.updatedAt lang="vi" fromNow=null}}</dd>

                  <dt class="col-sm-5">Đang theo dõi:</dt>
                  <dd class="col-sm-7">{{addCommas manga.follower}}</dd>

                  <dt class="col-sm-5">Lượt xem:</dt>
                  <dd class="col-sm-7">{{addCommas manga.views}}</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="manga_details_btn my-2">
            <a class="btn btn-warning py-2 mx-1" id="follow-btn" href="#" role="button">
              <i class="far fa-bookmark me-2"></i><b>Theo dõi</b></a>
            <a class="btn btn-dark py-2 mx-1" id="firstC-btn" href="#" role="button">
              Tiếp tục đọc</a>
          </div>
        </div>
      </div>
    </div>
    <div class="manga_chapter_table my-5 shadow-lg rounded-3">
      <div class="col p-4">
        <div class="section-title m-3 d-flex">
          <h5 class="flex-grow-1">Danh sách chương</h5>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-sort-amount-up-alt"></i>
          </button>
        </div>
        <div class="list-group m-3">
          {{#each manga.chapters}}
          {{#lt @index 10}}
          <a href="#" class="list-group-item list-group-item-action d-flex">
            <span class="fw-bold p-3">Chương {{index}}</span>
            <span class="fst-italic p-3 flex-grow-1">{{name}}</span>
            <span class="date p-3">{{moment updatedAt format="DD-MM-YYYY"}}</span>
            <span class="bookmark p-3"><i class="fas fa-bookmark pe-2"></i>4,242</span>
            <span class="p-3">#{{@index}}</span>
          </a>
          {{/lt}}
          {{/each}}
        </div>
        <div class="paginate p-2">
          <nav class="d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">Prev</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-lg-8 col-md-12">
        {{>reviews}}
      </div>
      <div class="col-lg-4 col-md-12">
        {{> sidebar topViews = topViews newComment = newComment}}
        <div class="manga_details_other shadow-lg rounded-3 p-4">
          <div class="col">
            <div class="section-title my-3">
              <h5>Bạn có thể thích...</h5>
            </div>
            <div class="sidebar_item set-bg" data-setbg='/img/cover.png'>
              <div class="ep">12 / 20</div>
              <div class="view">9566</div>
              <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
            </div>
            <div class="sidebar_item set-bg" data-setbg='/img/cover.png'>
              <div class="ep">12 / 20</div>
              <div class="view">9566</div>
              <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
            </div>
            <div class="sidebar_item set-bg" data-setbg='/img/cover.png'>
              <div class="ep">12 / 20</div>
              <div class="view">9566</div>
              <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
            </div>
            <div class="sidebar_item set-bg" data-setbg='/img/cover.png'>
              <div class="ep">12 / 20</div>
              <div class="view">9566</div>
              <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
            </div>
            <div class="sidebar_item set-bg" data-setbg='/img/cover.png'>
              <div class="ep">12 / 20</div>
              <div class="view">9566</div>
              <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>