<script>
  const mangaId = "{{ manga._id }}"
  var userId = "{{ userId }}"
</script>

<!--Breadcrumb section-->
{{> breadcrumb manga=manga.title manga-slug=manga.slug chapter=chapter.index}}

<!--Anime section-->
<section class="manga_reading pb-3">
  <div class="container">
    <div class="manga_chapter my-5 shadow-lg rounded-3">
      <div class="row p-4 g-3">
        <div class="col text-center">
          <div class="title chapter">
            <h2 class='mb-3'><b>Chapter {{chapter.index}} - {{chapter.name}}</b></h2>
            <p><i>[Cập nhật lúc: {{moment chapter.updatedAt format="HH:mm DD/MM/YYYY"}}]</i></p>
          </div>
          <div class="chapter_control pb-4">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn prev btn-dark mx-2">Prev</button>
              <select class="top selectpicker mx-2 height-fix">
                {{#each manga.chapters}}
                {{#eq index ../chapter.index}}
                <option selected value="/manga/{{../manga.slug}}/chapter-{{index}}">Chapter {{index}}</option>
                {{else}}
                <option value="/manga/{{../manga.slug}}/chapter-{{index}}">Chapter {{index}}</option>
                {{/eq}}
                {{/each}}
              </select>
              <button type="button" class="btn next btn-warning mx-2">Next</button>
            </div>
          </div>
          <div class="chapter_content pb-4">
            {{#each chapter.sections}}
            <img src="{{url}}" alt="page {{plus @index 1}}" class="img-fluid w-75">
            {{/each}}
          </div>
          <div class="chapter_control pb-4">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn prev btn-dark mx-2">Prev</button>
              <select class="bot selectpicker mx-2 height-fix">
                {{#each manga.chapters}}
                {{#eq index ../chapter.index}}
                <option selected value="/manga/{{../manga.slug}}/chapter-{{index}}">Chapter {{index}}</option>
                {{else}}
                <option value="/manga/{{../manga.slug}}/chapter-{{index}}">Chapter {{index}}</option>
                {{/eq}}
                {{/each}}
              </select>
              <button type="button" class="btn next btn-warning mx-2">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        {{>reviews}}
      </div>
      <div class="col-lg-4 col-md-12">
        {{> sidebar topViews = topViews}}
      </div>
    </div>
  </div>
</section>