<!--Breadcrumb section-->
{{> breadcrumb manga=manga.title}}

<script>
  var userId = "{{ userId }}"
</script>

<!--Manga section-->
<section class="manga_details">
  <div class="container">
    <div class="manga_details_content my-5 shadow-lg rounded-3">
      <div class="row p-4 g-3">
        <div class="col-md-12 col-lg-4 col-xl-3 pe-3">
          <div class="anime_details_pic">
            <img src={{manga.cover}} class="img-fluid rounded-3" />
          </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xl-9">
          <div class="row mb-3">
            <div class="col-lg-12 col-xl-9 manga_details_title text-wrap">
              <h3 class="mb-2"><b>{{manga.title}}</b></h3>
              <span>{{manga.title_org}}</span>
            </div>
            <div class="col-lg-12 col-xl-3 manga_details_rating d-flex">
              <div>
                <div class="stars-rating" onclick="loginCheck(event,'{{ manga._id }}',ratingManga)">
                  <form onchange="ratingManga()">
                    <div class="rating-group" data-default={{rate}}>
                      <label aria-label="1 star" class="rating__label" for="star-1">
                        <i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="star" id="star-1" value="1" type="radio">
                      <label aria-label="2 stars" class="rating__label" for="star-2">
                        <i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="star" id="star-2" value="2" type="radio">
                      <label aria-label="3 stars" class="rating__label" for="star-3">
                        <i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="star" id="star-3" value="3" type="radio">
                      <label aria-label="4 stars" class="rating__label" for="star-4">
                        <i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="star" id="star-4" value="4" type="radio" checked>
                      <label aria-label="5 stars" class="rating__label" for="star-5">
                        <i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="star" id="star-5" value="5" type="radio">
                    </div>
                  </form>
                </div>
                <div class="d-flex flex-row justify-content-center gap-1">
                  {{#eq manga.totalRate 0}}
                  <span>Chưa có đánh giá</span>
                  {{else}}
                  <span>{{addCommas manga.totalRate}}</span>
                  <span>đánh giá</span>
                  {{/eq}}
                </div>
              </div>
            </div>
          </div>
          <div class="categories mb-3">
            <ul class="list-inline">
              {{#each manga.categories}}
              <li class="list-inline-item">
                <a href="/categories/{{slug}}" role="button" class="btn badge rounded-pill"
                  style="background-color:{{color}}; color:{{text_color}};">{{name}}</a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="manga_details_description mb-2">
            <p>{{manga.description}}</p>
          </div>
          <div class="manga_details_widget">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <dl class="row">
                  <dt class="col-sm-5">Tác giả:</dt>
                  <dd class="col-sm-7">{{manga.author}}</dd>

                  <dt class="col-sm-5">Ngày phát hành:</dt>
                  <dd class="col-sm-7">{{moment manga.releaseDay format="DD-MM-YYYY"}}</dd>

                  <dt class="col-sm-5">Tình trạng:</dt>
                  <dd class="col-sm-7">{{manga.status}}</dd>

                  <dt class="col-sm-5">Dịch giả:</dt>
                  <dd class="col-sm-7">{{manga.translator}}</dd>
                </dl>
              </div>
              <div class="col-lg-6 col-md-6">
                <dl class="row">
                  <dt class="col-sm-5">Số chương:</dt>
                  <dd class="col-sm-7">{{manga.total}}/{{manga.finished}}</dd>

                  <dt class="col-sm-5">Cập nhật:</dt>
                  <dd class="col-sm-7">{{moment manga.updatedAt lang="vi" fromNow=null}}</dd>

                  <dt class="col-sm-5">Đang theo dõi:</dt>
                  <dd class="col-sm-7">{{addCommas manga.follower}}</dd>

                  <dt class="col-sm-5">Lượt xem:</dt>
                  <dd class="col-sm-7">{{addCommas manga.views}}</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="manga_details_btn my-2">
            <a class="btn btn-warning py-2 mx-1" id="follow-btn"
              onclick="loginCheck(event,'{{ manga._id }}',followMangaForm)" href="#" role="button">
              <i class="far fa-bookmark me-2"></i><b>Theo dõi</b></a>
            <a href="{{#if manga.chapters}}/manga/{{manga.slug}}/chapter-{{manga.chapters.0.index}}{{else}}#{{/if}}"
              class="btn btn-dark py-2 mx-1" id="firstC-btn" role="button">Đọc từ đầu</a>
          </div>
        </div>
      </div>
    </div>
    <div class="manga_chapter_table my-5 shadow-lg rounded-3">
      <div class="col p-4">
        <div class="section-title m-3 d-flex">
          <h5 class="flex-grow-1">Danh sách chương</h5>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-sort-amount-up-alt"></i>
          </button>
        </div>
        <div class="list-group m-3" id="chapter-list">
          {{#if manga.chapters}}
          {{#each manga.chapters}}
          <div class="list-group-item list-group-item-action">
            <a href="/manga/{{../manga.slug}}/chapter-{{index}}" class="d-flex">
              <span class="fw-bold p-3">Chương {{index}}</span>
              <span class="fst-italic p-3 flex-grow-1">{{name}}</span>
              <span class="date p-3"><i class="fas fa-history"></i> {{moment updatedAt format="DD-MM-YYYY"}}</span>
              <span class="bookmark p-3"><i class="fas fa-eye"></i> {{#if views}}{{addCommas
                views}}{{else}}0{{/if}}</span>
              <span class="p-3">#{{plus @index 1}}</span>
            </a>
          </div>
          {{/each}}
          {{else}}
          <b class="text-center mb-3"><em>Đang cập nhật</em></b>
          {{/if}}
        </div>
        <div class="paginate p-2">
          <nav class="d-flex justify-content-center">
            <ul class="pagination" id="chapterPage">
              <li class="page-item prev disabled">
                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                  <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                </a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                  <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-lg-8 col-md-12">
        {{>reviews}}
      </div>
      <div class="col-lg-4 col-md-12">
        {{> sidebar topViews = topViews}}
      </div>
    </div>
  </div>
</section>

<!-- Asking login -->
{{>askLogin}}

<!-- Adding manga to collections -->
{{>followManga}}