<section class="user_profile my-4">
    <div class="container">
        <div class="profile-header shadow rounded-3 p-3 mb-4">
            <div class="col position-relative">
                <div class="background-profile rounded-3">
                    <img class="img-fluid w-100" src={{user.cover}} alt="cover img">
                </div>
                <div class="avatar-profile d-flex justify-content-center">
                    <div class="wrap ratio ratio-1x1">
                        <img class="position-absolute" src={{user.avatar}} alt="avatar">
                    </div>
                </div>
                <div class="overview-profile d-flex flex-column text-center">
                    <h2><b>{{user.name}}</b></h2>
                    <p>{{user.email}}</p>
                    <div class="row">
                        <div class="col">
                            <p><b>{{user.library.history.total}}</b></p>
                            <p>Truyện đã đọc</p>
                        </div>
                        <div class="col">
                            <p><b>{{user.library.collections.total_collect}}</b></p>
                            <p>Bộ sưu tập</p>
                        </div>
                        <div class="col">
                            <p><b>{{user.following}}</b></p>
                            <p>Đang theo dõi</p>
                        </div>
                    </div>
                </div>
                <div class="position-absolute bottom-0 end-0" id="editInfo">
                    <div data-bs-toggle="popover" data-bs-trigger="hover focus"
                        data-bs-content="Chỉnh sửa trang cá nhân">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editInfoModal"><i class="fas fa-user-edit"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-body mb-4">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="info shadow rounded-3 p-4 mb-4 d-flex flex-column gap-1">
                        <h4 class="mb-3"><b>About</b></h4>
                        {{#if user.about}}<p>{{user.about}}</p>{{/if}}
                        {{#if user.link}}<p><i class="fas fa-link"></i><a href="{{user.link}}">{{user.link}}</a></p>{{/if}}
                        {{#if user.address}}<p><i class="fas fa-map-marker-alt"></i>{{user.address}}</p>{{/if}}
                        <p><i class="fas fa-clock"></i>
                            Tham gia vào {{moment user.createdAt format="DD [tháng] MM [năm] YYYY"}}</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="collections shadow rounded-3 p-4 d-flex flex-column gap-2 mb-4">
                        <header class="d-flex mb-2">
                            <h4 class="flex-fill"><b>Danh sách đã đọc</b></h4>
                            <a href="/user/{{user._id}}/storage?tab=history" class="flex-shrink-1 btn">
                                <i class="fas fa-edit"></i>
                            </a>
                        </header>
                        {{#if history}}
                        <div class="reading-list">
                            <header class="list-heading">
                                <a href="/user/{{user._id}}/storage?tab=history">
                                    <h5><b>Chi tiết</b><span><i class="fas fa-angle-right"></i></span></h5>
                                </a>
                                <p>Danh sách truyện - {{user.library.history.total}} bộ</p>
                            </header>
                            <div class="list-body">
                                <div class="row">
                                    {{#each history}}
                                    {{#lt @index 3}}
                                    <div class="col-4 manga-item">
                                        <a href="/manga/{{manga.slug}}">
                                            <div class="pic ratio">
                                                <img src={{manga.cover}} class="img-fluid w-100 rounded-3 mb-2">
                                            </div>
                                        </a>
                                        <div class="content">
                                            <a href="/manga/{{manga.slug}}"><b>{{manga.title}}</b></a>
                                            <div class="d-flex mt-2">
                                                <div class="flex-fill"><i class="fas fa-eye"></i> {{addCommas
                                                    manga.views}}</div>
                                                <div class="flex-fill"><i class="fas fa-bookmark"></i>
                                                    {{manga.follower}}</div>
                                                <div class="flex-fill"><i class="fas fa-list-ul"></i> {{manga.finished}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/lt}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <b class="text-center"><em>Chưa có truyện nào</em></b>
                        {{/if}}
                    </div>
                    <div class="collections shadow rounded-3 p-4 d-flex flex-column gap-2">
                        <header class="d-flex mb-2">
                            <h4 class="flex-fill"><b>Kho lưu trữ</b></h4>
                            <a href="/user/{{user._id}}/storage?tab=collection" class="flex-shrink-1 btn"><i
                                    class="fas fa-edit"></i></a>
                        </header>
                        {{#if collections}}
                        {{#each collections}}
                        <div class="reading-list mb-3">
                            <header class="list-heading">
                                <a href="/user/{{../user._id}}/storage/collection?title={{title}}">
                                    <h5><b>{{title}}</b><span><i class="fas fa-angle-right"></i></span></h5>
                                </a>
                                <p>Danh sách truyện - {{total}} bộ</p>
                            </header>
                            <div class="list-body">
                                <div class="row">
                                    {{#if mangaCollect}}
                                    {{#mangaCollect}}
                                    {{#lt @index 3}}
                                    <div class="col-4 manga-item">
                                        <a href="/manga/{{manga.slug}}">
                                            <div class="pic ratio">
                                                <img src={{manga.cover}} class="img-fluid w-100 rounded-3 mb-2">
                                            </div>
                                        </a>
                                        <div class="content">
                                            <a href="/manga/{{manga.slug}}"><b>{{manga.title}}</b></a>
                                            <div class="d-flex mt-2">
                                                <div class="flex-fill"><i class="fas fa-eye"></i> {{addCommas
                                                    manga.views}}</div>
                                                <div class="flex-fill"><i class="fas fa-bookmark"></i>
                                                    {{manga.follower}}</div>
                                                <div class="flex-fill"><i class="fas fa-list-ul"></i> {{manga.finished}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/lt}}
                                    {{/mangaCollect}}
                                    {{else}}
                                    <b class="text-center mb-3"><em>Danh sách trống</em></b>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <b class="text-center mb-3"><em>Chưa có bộ sưu tập nào</em></b>
                        <div class="d-flex justify-content-center">
                            <button class="btn mb-3" id="addCollect" data-bs-toggle="modal"
                                data-bs-target="#addCollectModal">
                                Thêm bộ sưu tập mới<i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                        {{>modal}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{> edit-profile }}
    </div>
</section>